---
import services from '../../../../public/services.json'

const currentPath = Astro.url.pathname
---

<nav class="services-navigation" aria-label="Services navigation">
  <ul>
    {
      services.map((service) => (
        <li>
          <a href={service.url} aria-current={currentPath === service.url}>
            {service.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .services-navigation {
    padding-bottom: var(--section-spacing-base);

    & ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.5rem;
      max-width: var(--max-width);
      margin: 0 auto;
      padding: 0 var(--padding-base);

      @media (min-width: 1024px) {
        & {
          flex-direction: row;
          gap: var(--padding-base);
        }
      }

      & li {
        width: 100%;
        text-align: left;
      }
    }

    & a {
      display: block;
      padding-bottom: 0.5rem;
      font-size: var(--size-xs);
      color: var(--color-grey-200);
      border-bottom: 2px solid var(--color-grey-200);
      transition: all var(--transition-normal);

      &:hover,
      &[aria-current='true'] {
        color: var(--color-white);
        border-bottom: 2px solid var(--color-white);
      }
    }
  }
</style>
