---
import ServicesLayout from '../../layouts/ServicesLayout.astro'
import services from '../../../public/services.json'

const eventActivationService = services[1]
---

<ServicesLayout title="66th & Byrnes | Event Activation" description="Event Activation">
  <section id="panel-1" role="tabpanel" aria-labelledby="tab-1">
    <h2>{eventActivationService.title}</h2>
    <p>{eventActivationService.description}</p>
  </section>
</ServicesLayout>
