---
import ServicesLayout from '../../layouts/ServicesLayout.astro'
---

<ServicesLayout title="66th & Byrnes | Influencer Strategy" description="Influencer Strategy">
  <h1>Influencer Strategy</h1>
</ServicesLayout>
