---
import ServicesLayout from '../../layouts/ServicesLayout.astro'
---

<ServicesLayout title="66th & Byrnes | Marketing Strategy" description="Marketing Strategy">
  <h1>Marketing Strategy</h1>
</ServicesLayout>
