---
import ServicesLayout from '../../layouts/ServicesLayout.astro'
import services from '../../../public/services.json'

const onSiteManagementService = services[3]
---

<ServicesLayout title="66th & Byrnes | On-Site Management" description="On-Site Management">
  <section id="panel-3" role="tabpanel" aria-labelledby="tab-3">
    <h2>{onSiteManagementService.title}</h2>
    <p>{onSiteManagementService.description}</p>
  </section>
</ServicesLayout>
