---
import ServicesLayout from '../../layouts/ServicesLayout.astro'
---

<ServicesLayout title="66th & Byrnes | Talent Booking" description="Talent Booking">
  <h1>Talent Booking</h1>
</ServicesLayout>
