:root {
  /* Containers */
  --nav-height: 90px;
  --max-width-small: 750px;
  --max-width-medium: 1150px;
  --max-width: 1440px;
  --padding-base: clamp(1rem, 2vw, 2rem);
  --section-spacing-base: clamp(4rem, 10vw, 6rem);
  --section-spacing-large: clamp(8rem, 10vw, 12rem);

  /* Fonts */
  --font-heading: 'Lora', serif;
  --font-body: 'Ubuntu', sans-serif;

  /* Font Sizes */

  --size-xxs: 0.75rem;
  --size-xs: 1rem;
  --size-sm: 1.25rem;
  --size-base: 1.563rem;
  --size-lg: 2.441rem;
  --size-xl: 3.052rem;
  --size-xxl: 3.815rem;

  /* Letter Spacing */
  --letter-spacing-base: 1px;
  --letter-spacing-large: 0.2rem;

  /* Colors */

  --color-white: #f5f3f0;
  --color-white-transparent: #f5f3f0c0;
  --color-green-100: #dae1db;
  --color-green-200: #132e1e;
  --color-yellow: #fcdac1;
  --color-peach: #f5d6d0;
  --color-blue: #d7e1e8;
  --color-red: #ff3a2d;
  --color-grey-100: #d9d9d9;
  --color-grey-200: #b5b5b5;
  --color-grey-transparent: #d9d9d9c0;

  --color-background: var(--color-white);
  --color-foreground: var(--color-green-200);

  /* Shadows */

  --box-shadow-normal: 1rem 1rem 4rem var(--color-grey-transparent);

  /* Animations */

  --transition-normal: 0.3s ease-in-out;
  --transition-long: 1s ease-in-out;
  --transition-navigation: 0.4s ease;
  --transition-natural: 0.4s cubic-bezier(1, 0, 0, 1);

  /* Borders */

  --border-radius-card: clamp(1rem, 2vw, 2rem);
  --border-radius-button: 3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
}

img,
svg,
video {
  display: block;
  width: 100%;
  height: auto;
}

body,
input,
textarea,
button {
  font-family: var(--font-body);
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: var(--letter-spacing-base);
  line-height: 1.5;

  /* Experimental, but fallback is default styling */
  text-wrap: balance;
}

body[data-overlay-displayed='true'] {
  overflow: hidden;
}

/* Services page styling */
[data-path*='/services'] header,
[data-path*='/services'] nav {
  color: var(--color-white);
  background-color: var(--color-green-200);
}

main {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--padding-base);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  letter-spacing: normal;
  line-height: normal;
}

h1 {
  font-size: clamp(var(--size-lg), 5vw, var(--size-xxl));
}

h2 {
  font-size: clamp(var(--size-lg), 5vw, var(--size-xl));
}

h3 {
  font-size: clamp(var(--size-base), 5vw, var(--size-lg));
}

h4 {
  font-size: clamp(var(--size-sm), 5vw, var(--size-base));
}

p,
li {
  font-size: clamp(var(--size-sm), 2vw, var(--size-base));
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: calc(var(--nav-height) + var(--section-spacing-base)) var(--padding-base)
    var(--section-spacing-base);
  text-align: center;
}

section {
  margin: var(--section-spacing-base) auto var(--section-spacing-large);
}

.site-link {
  position: relative;
  display: inline-block;
}

.site-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-green-200);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform var(--transition-natural);
}

.site-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

nav:first-of-type .site-link[aria-selected='true']::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-green-200);
  transform-origin: left;
  transform: scaleX(1);
}

@media (min-width: 768px) {
  [data-path*='/services'] nav .site-link::before {
    background-color: var(--color-white);
  }
}

.site-link.bold {
  font-size: var(--size-xs);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-large);
}

.site-section {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  opacity: 0;
  transition: opacity var(--transition-long);
}

@media (min-width: 768px) {
  .site-section {
    padding: 2rem 0;
  }
}

.site-section.active {
  opacity: 1;
}

.site-cta {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  background-color: var(--color-green-200);
  font-size: var(--size-sm);
  border: 2px solid var(--color-green-200);
  border-radius: var(--border-radius-button);
  transition: all var(--transition-normal);
  cursor: pointer;
}

.site-cta:hover {
  color: var(--color-green-200);
  background-color: transparent;
}

.error-text {
  color: var(--color-error);
  font-size: var(--size-sm);
}

.center {
  text-align: center;
  margin: 0 auto;
}

/* Pseudo elements */

::selection {
  color: var(--color-green-200);
  background: var(--color-peach);
}
