---
import Logo from '../Logo.astro'
---

<div id="desktop-nav" class="desktop-nav">
  <Logo />
  <ul>
    <li><a class="site-link" href="/services" aria-label="Services">Services</a></li>
    <li><a class="site-link" href="/work" aria-label="Work">Work</a></li>
    <li><a class="site-link" href="/about" aria-label="About">About</a></li>
  </ul>
  <a class="site-cta" href="/contact" aria-label="Contact">Contact</a>
</div>

<style>
  .desktop-nav {
    display: none;
  }

  @media (min-width: 768px) {
    .desktop-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: clamp(2rem, 5vw, 4rem);
      width: 100%;
      z-index: 2;
    }

    .desktop-nav a {
      display: inline-block;
    }

    .desktop-nav ul {
      display: flex;
      gap: clamp(2rem, 5vw, 4rem);
    }

    .desktop-nav li {
      font-size: clamp(var(--size-xs), 2vw, var(--size-sm));
    }
  }
</style>
