---
import Logo from '../Logo.astro'

const currentPath = Astro.url.pathname
---

<div id="desktop-nav" class="desktop-nav">
  <Logo />
  <ul data-current-url={currentPath}>
    <li data-path="services">
      <a
        class="site-link"
        href="/services/influencer-strategy"
        aria-label="Services"
        aria-current={currentPath.includes('/services')}>Services</a
      >
    </li>
    <li data-path="work">
      <a
        class="site-link"
        href="/work"
        aria-label="Work"
        aria-current={currentPath.includes('/work')}>Work</a
      >
    </li>
    <li data-path="about">
      <a
        class="site-link"
        href="/about"
        aria-label="About"
        aria-current={currentPath.includes('/about')}>About</a
      >
    </li>
  </ul>
  <a
    class="site-cta"
    href="mailto:jessemay66@gmail.com,samkordelski@gmail.com"
    aria-label="Contact Us">Contact Us</a
  >
</div>

<style>
  .desktop-nav {
    display: none;
  }

  @media (min-width: 768px) {
    .desktop-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      z-index: 2;
    }

    .desktop-nav ul {
      display: flex;
      gap: clamp(2rem, 5vw, 3rem);
    }

    .desktop-nav li {
      position: relative;
      font-size: var(--size-sm);
    }
  }

  /* Services page styling */
  body[data-path*='/services'] .site-cta {
    color: var(--color-green-200);
    background-color: var(--color-white);
    border: 2px solid var(--color-green-200);

    &:hover {
      color: var(--color-white);
      background-color: var(--color-green-200);
      border: 2px solid var(--color-white);
    }
  }

  body[data-path*='/services'] .desktop-nav ul li[data-path='services'] a::before {
    background-color: var(--color-white);
  }
</style>
