<div id="desktop-nav" class="desktop-nav">
  <!-- TODO: Replace with logo -->
  <h1><a href="/">66th & Byrnes</a></h1>
  <ul>
    <li><a class="site-link" href="/services" aria-label="Services">Services</a></li>
    <li><a class="site-link" href="/work" aria-label="Work">Work</a></li>
    <li><a class="site-link" href="/about" aria-label="About">About</a></li>
  </ul>
  <a class="site-cta" href="/contact" aria-label="Contact">Contact</a>
</div>

<style>
  .desktop-nav {
    display: none;
  }

  @media (min-width: 768px) {
    .desktop-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      width: 100%;
      z-index: 2;
    }

    .desktop-nav ul {
      display: flex;
      gap: 2rem;
    }

    .desktop-nav li {
      font-size: var(--size-sm);
    }
  }
</style>
