---
import Logo from '../Logo.astro'

const currentPath = Astro.url.pathname
---

<div id="desktop-nav" class="desktop-nav">
  <Logo />
  <ul data-current-url={currentPath}>
    <li data-path="services">
      <a class="site-link" href="/services" aria-label="Services">Services</a>
    </li>
    <li data-path="work"><a class="site-link" href="/work" aria-label="Work">Work</a></li>
    <li data-path="about"><a class="site-link" href="/about" aria-label="About">About</a></li>
  </ul>
  <a class="site-cta" href="/contact" aria-label="Contact Us">Contact Us</a>
</div>

<style>
  .desktop-nav {
    display: none;
  }

  @media (min-width: 768px) {
    .desktop-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: clamp(2rem, 5vw, 4rem);
      width: 100%;
      z-index: 2;
    }

    .desktop-nav a {
      display: inline-block;
    }

    .desktop-nav ul {
      display: flex;
      gap: clamp(2rem, 5vw, 4rem);
    }

    .desktop-nav li {
      position: relative;
      font-size: clamp(var(--size-xs), 2vw, var(--size-sm));
    }

    /* Active link styling */
    .desktop-nav ul[data-current-url^='/services'] li[data-path='services'] a::before,
    .desktop-nav ul[data-current-url^='/work'] li[data-path='work'] a::before,
    .desktop-nav ul[data-current-url^='/about'] li[data-path='about'] a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -4%;
      left: 0;
      background-color: var(--color-green-200);
      transform-origin: left;
      transform: scaleX(1);
    }
  }
</style>
