---
import Desktop from './Desktop.astro'
import Mobile from './Mobile.astro'
---

<nav>
  <div class="wrapper">
    <Desktop />
    <Mobile />
  </div>
</nav>

<style>
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--color-white);
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    height: var(--nav-height);
    margin: 0 auto;
    padding: 0 var(--padding-base);
  }
</style>
