---
import Desktop from './Desktop.astro'
import Mobile from './Mobile.astro'
---

<nav>
  <Desktop />
  <Mobile />
</nav>

<style>
  nav {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--padding-base);
  }
</style>
