---
import Desktop from './Desktop.astro'
import Mobile from './Mobile.astro'
---

<nav>
  <Desktop />
  <Mobile />
</nav>

<style>
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    max-width: var(--max-width);
    background-color: var(--color-white);
    margin: 0 auto;
    padding: var(--padding-base);
  }
</style>
