---
import Layout from '../layouts/Layout.astro'
---

<Layout title="66th & Byrnes | About">
  <header>
    <h1>An Award-Winning Influencer Marketing & Event Agency</h1>
    <p>
      66th & Byrnes is an award-winning influencer marketing and event agency that is passionate
      about creating meaningful experiences that drive results
    </p>
  </header>
</Layout>
