---
import Layout from '../layouts/Layout.astro'
---

<Layout title="66th & Byrnes | Contact">
  <header>
    <h1>Want to Work Together?</h1>
    <p>Contact us and we'll get back to you as soon as possible</p>
  </header>
</Layout>
