---
import Layout from '../layouts/Layout.astro'
import Carousel from '../components/Carousel.astro'
import Marquee from '../components/Marquee.astro'
import TextContentBlock from '../components/TextContentBlock.astro'
---

<Layout title="66th And Byrnes">
  <header>
    <h1>Amplify Your Brand with Influencer Magic and Event Excellence</h1>
    <p>Where Influence Meets Events for Unmatched Brand Brilliance</p>
  </header>
  <main>
    <Carousel />
    <Marquee />
    <TextContentBlock
      title="Let's Chat"
      subtitle="Your Magic Moment is Around the Corner"
      bodyText="Schedule a free consultation to discuss your event and how we can help you"
      ctaLink="/contact"
      ctaText="Contact Us"
    />
  </main>
</Layout>
