---
// import { Picture } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
---

<Layout title="66th And Byrnes">
  <header>
    <h1>Amplify Your Brand with Influencer Magic and Event Excellence</h1>
    <p>Where Influence Meets Events for Unmatch Brand Brilliance</p>
  </header>

  <!-- TODOs: 
    1. Add full width image/video
    2. Build out sections
  -->
  <main>
    <section>
      <!-- <Picture /> -->
    </section>
  </main>
</Layout>
