---
import Layout from '../layouts/Layout.astro'
import ImageCarousel from '../components/ImageCarousel.astro'
---

<Layout title="66th And Byrnes">
  <header>
    <h1>Amplify Your Brand with Influencer Magic and Event Excellence</h1>
    <p>Where Influence Meets Events for Unmatch Brand Brilliance</p>
  </header>

  <!-- TODOs: 
    1. Build out sections
  -->
  <main>
    <ImageCarousel />
  </main>
</Layout>
