---
import Layout from '../layouts/Layout.astro'
import Carousel from '../components/Carousel.astro'
import Marquee from '../components/Marquee.astro'
import Vision from '../components/pages/home/Vision.astro'
import Services from '../components/pages/home/Services.astro'
import Contact from '../components/pages/home/Contact.astro'
---

<Layout title="66th And Byrnes">
  <header>
    <h1>Amplify Your Brand with Influencer Magic and Event Excellence</h1>
    <p>Where Influence Meets Events for Unmatched Brand Brilliance</p>
  </header>
  <main>
    <Carousel />
    <Marquee />
    <Vision />
    <Services />
    <!-- TODO: <FeaturedWork /> -->
    <!-- TODO: <AboutUs /> -->
    <Contact />
  </main>
</Layout>
