---
import Layout from '../layouts/Layout.astro'
---

<Layout title="66th And Byrnes">
  <header>
    <h2>Amplify Your Brand with Influencer Magic and Event Excellence</h2>
    <p>Where Influence Meets Events for Unmatch Brand Brilliance</p>
  </header>
</Layout>
