---
import Layout from '../layouts/Layout.astro'
import Carousel from '../components/Carousel.astro'
import Marquee from '../components/Marquee.astro'
---

<Layout title="66th And Byrnes">
  <header>
    <h1>Amplify Your Brand with Influencer Magic and Event Excellence</h1>
    <p>Where Influence Meets Events for Unmatch Brand Brilliance</p>
  </header>

  <main>
    <Carousel />
    <Marquee />
  </main>
</Layout>
