---
import Layout from '../layouts/Layout.astro'
---

<Layout title="66th & Byrnes | Services">
  <header>
    <h1>Elevate Your Brand Experience with Our Diverse Services</h1>
    <p>
      We execute impactful strategies in influencer marketing, event activation, and talent
      management
    </p>
  </header>
</Layout>
