---
import Layout from '../layouts/Layout.astro'
---

<Layout title="66th & Byrnes | Work">
  <header>
    <h1>Explore Our Work</h1>
    <p>Check out some of the amazing projects we have helped bring to life</p>
  </header>
</Layout>
