---
import TextContent from './TextContent.astro'
---

<section id="contact" class="site-section">
  <TextContent
    title="Let's Chat"
    subtitle="Your Next Big Moment Starts Here"
    bodyText="Schedule a free consultation to discuss your event and how we can help you"
    ctaLink="mailto:jessemay66@gmail.com,samkordelski@gmail.com"
    ctaText="Contact Us"
    class="center"
  />
</section>
