---
import { Picture } from 'astro:assets'

import logo from '../assets/logo.png'
---

<!-- TODO: Replace with SVG -->
<a class="logo" href="/" aria-label="Home" title="Home">
  <Picture src={logo} formats={['avif', 'webp']} loading="eager" alt="66th & Byrnes Site Logo" />
</a>

<style>
  .logo img {
    position: relative;
    max-width: 225px;
    z-index: 4;

    /* TODO: 
      This is correcting vertically centered layout
      See if this can be done with flexbox once logo is replaced with SVG 
    */
    margin-bottom: 0.5rem;
  }
</style>
