---
import Icon from 'astro-icon'

const { class: className } = Astro.props
---

<!-- TODO: Replace placeholder logo -->
<a class:list={['logo', className]} href="/" aria-label="Home" title="Home">
  <Icon name="logo" />
</a>

<style is:global>
  .logo {
    display: block;
  }

  [astro-icon='logo'] {
    position: relative;
    max-width: 150px;
    z-index: 4;
    fill: var(--color-green-200);
  }

  footer [astro-icon='logo'] {
    fill: var(--color-green-200) !important;
  }

  /* Services page styling */
  body[data-path*='/services']:not([data-overlay-displayed='true']) [astro-icon='logo'] {
    fill: var(--color-white);
  }
</style>
