---
import TextContentBlock from '../../TextContentBlock.astro'
---

<section id="contact" class="site-section">
  <TextContentBlock
    title="Let's Chat"
    subtitle="Your Magic Moment is Around the Corner"
    bodyText="Schedule a free consultation to discuss your event and how we can help you"
    ctaLink="/contact"
    ctaText="Contact Us"
  />
</section>
