---
import TextContent from '../../TextContent.astro'
import ImageWithInfo from '../../ImageWithInfo.astro'
import balloons from '../../../assets/balloons.png'
import football from '../../../assets/football.jpg'
import dudeSunglasses from '../../../assets/dude-sunglasses.jpg'
import matty from '../../../assets/matty.jpg'

const projects = [
  {
    image: balloons,
    imageAlt: 'Balloons',
    text: 'Embark on a journey with Lorem - a project where every click unveils a story of style, substance, and digital charisma.',
    backgroundColor: 'var(--color-green-100)',
  },
  {
    image: football,
    imageAlt: 'Football players',
    text: '66th & Byrnes helped Ipsum create a project that transformed ordinary brands into extraordinary influencers, creating a ripple of coolness that echoed across digital landscapes.',
    backgroundColor: 'var(--color-yellow)',
  },
  {
    image: dudeSunglasses,
    imageAlt: 'Dude with sunglasses',
    text: 'Acme Adventures is a portfolio of projects where brands and audiences embarked on a journey of connection, engagement, and collaboration.',
    backgroundColor: 'var(--color-peach)',
  },
  {
    image: matty,
    imageAlt: 'Matty Matheson',
    text: 'How we helped Globex reach a new audience of over 1 million users through a series of paid and organic social media campaigns.',
    backgroundColor: 'var(--color-blue)',
  },
]
---

<section id="featured-work" class="featured-work site-section">
  <TextContent
    title="Featured Work"
    subtitle="Get Inspired"
    bodyText="We're here to help your brand reach its full potential. Check out some of our favorite projects."
    class="text-content-custom"
  />
  <div class="gallery">
    {
      projects.map((project) => {
        return (
          <ImageWithInfo
            class="image-with-info-custom"
            image={project.image}
            imageAlt={project.imageAlt}
            text={project.text}
            ctaLink="/work"
            ctaText="Read more"
            slideColor={project.backgroundColor}
          />
        )
      })
    }
  </div>
  <a href="/work" class="site-cta">All Projects</a>
</section>

<style>
  .featured-work {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-content-custom {
    margin-bottom: 2rem;
  }

  .gallery {
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow-normal);
    border-radius: var(--border-radius-card);

    & .image-with-info-custom:nth-child(1) {
      border-radius: var(--border-radius-card) var(--border-radius-card) 0 0;
      overflow: hidden;
    }

    & .image-with-info-custom:nth-child(4) {
      border-radius: 0 0 var(--border-radius-card) var(--border-radius-card);
    }
  }

  @media (min-width: 768px) {
    .gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      & .image-with-info-custom:nth-child(1) {
        border-radius: var(--border-radius-card) 0 0 0;
      }

      & .image-with-info-custom:nth-child(2) {
        border-radius: 0 var(--border-radius-card) 0 0;
      }

      & .image-with-info-custom:nth-child(3) {
        border-radius: 0 0 0 var(--border-radius-card);
      }

      & .image-with-info-custom:nth-child(4) {
        border-radius: 0 0 var(--border-radius-card) 0;
      }
    }
  }

  @media (min-width: 1240px) {
    .gallery {
      grid-template-columns: repeat(4, 1fr);

      & .image-with-info-custom:nth-child(1) {
        border-radius: var(--border-radius-card) 0 0 var(--border-radius-card);
      }

      & .image-with-info-custom:nth-child(2),
      & .image-with-info-custom:nth-child(3) {
        border-radius: 0;
      }

      & .image-with-info-custom:nth-child(4) {
        border-radius: 0 var(--border-radius-card) var(--border-radius-card) 0;
      }
    }
  }
</style>
