---
import ImageAndTextContent from '../../ImageAndTextContent.astro'
import visionImage from '../../../assets/vision.jpg'
---

<section id="vision" class="site-section">
  <ImageAndTextContent
    title="Our Vision"
    subtitle="Where Creativity, Influence, and Events Converge"
    bodyText="We are an influencer marketing agency specializing in on-site management and influencer strategy. We are a team of creative professionals who are passionate about curating unique experiences that inspire and engage audiences."
    ctaLink="mailto:jessemay66@gmail.com,samkordelski@gmail.com"
    ctaText="Let's Chat"
    image={visionImage}
    imageAlt="A person holding a lightbulb"
  />
</section>
