---
import Contact from '../components/pages/home/Contact.astro'
import Layout from '../layouts/Layout.astro'
import TabList from '../components/pages/services/TabList.astro'

export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<Layout title={title} description={description}>
  <header>
    <h1>Elevate Your Brand Experience with Our Diverse Services</h1>
  </header>
  <TabList />
  <main>
    <slot />
    <Contact />
  </main>
</Layout>

<style>
  header {
    margin: 0 auto;
    text-align: left;

    @media (min-width: 1024px) {
      & {
        text-align: center;
      }
    }
  }
</style>
